@media (max-width: 1200px){
    .header{
        &__logo{
            width: 220px;
        }
        &__phone{
            font-size: 16px;
        }
        &__official{
            font-size: 11px;
            span{
                font-size: 17px;
            }
        }
    }
    .button{
        width: 141px;
        &_main{
            width: 290px;
        }
    }
    .promo{
        &__header{
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader{
            font-size: 23px;
            line-height: 23px;
        }
        &__link{
            font-size: 15px;
        }
        &__icons{
            width: 415px;
        }
    }
}

@media (max-width: 991px){
    
}