.catalog{
    padding-bottom: 100px;
    &__tabs{
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab{
        width: 220px;
        height: 50px;
        border: 2px solid #D0D0D0;        
        font-weight: 400px;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skew(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover{
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div{
            transform: skew(25deg);
        }
        &_active{
            color: #ffffff;
            background-color: $main-color;
            border: none;
        }
    }
    .content{
        margin-top: 60px;

    }
    &-item{
        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        &__img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle{
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr{
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link{
            display: block;
            margin-top: 17px;
            font-weight: 500;
            font-size: 14px;
            color: $main-color;
            text-align: center;
            text-decoration-line: underline;
            &:hover{
                color: $main-color;
            }
        }
        hr{
            background-color: #555555;
            margin-top: 19px;
            margin-bottom: 21px;
        }
        &__footer{
            display: flex;
            justify-content: space-between;
        }
        &__old-price{
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price{
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }
    }
}