.feedback{
    padding-bottom: 48px;
    &__item{
        margin-top: 60px;
        display: flex;
        justify-content:center;
        align-items:flex-start;        
    }
    &__info{
        margin-left: 61px;        
        .fio{
            margin-bottom: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        .colvo{
            margin-top: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #646464;
        }
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;        
    }
}